@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.dark-bg {
  filter: brightness(50%);
}
.theme-color {
  background-color: #289bde;
}
.course-text {
  color: #4a4a4a;
}
p {
  color: #4a4a4a;
}
