@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.theme-color {
  background-color: #289bde;
}
.course-text {
  color: #4a4a4a;
}
p {
  color: #4a4a4a;
}
.cov-img {
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
